.main-container {
  border-radius: 0.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.title {
  color: var(--color-accent);
  margin-bottom: 1rem;
}

.form-card {
  width: 70%;
  border-radius: 0.4rem;
  padding: 3rem;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  color: black;
  --box-shadow1: #5f5e5d81;
}

.label-container {
  width: calc(100% - 2rem);
  margin-bottom: 0.5rem;
}

.name-label {
  font-size: 2rem;
}

#name-input {
  width: calc(100% - 2rem);
  border-radius: 0.5em;
  font-size: 1.25rem;
  padding: 1rem;
  box-shadow: 0 0 0 2px var(--box-shadow1);
  background: whitesmoke;
  transition: transform 0.1s ease;
}

#name-input:hover:not(:focus) {
  box-shadow: 0 0 0 3px var(--color-accent-hover);
  transform: scale(1.01);
}

#name-input:focus {
  box-shadow: 0 0 0 3px var(--color-accent);
}

#name-input:active {
  transform: scale(0.97);
}

.day-cards {
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  width: calc(100% - 2rem);
  transition: all 1s ease;
  cursor: pointer;
  gap: 1rem;
}

.day-card {
  box-shadow: 0 0 0 2px var(--box-shadow1);
  padding: 1rem;
  border-radius: 0.5rem;
  background: whitesmoke;
  aspect-ratio: 1/1;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.day-card:hover:not(.selected) {
  box-shadow: 0 0 0 3px var(--color-accent-hover);
}

.selected {
  box-shadow: 0 0 0 3px var(--color-accent);
}

.header-container {
  width: calc(100% - 2rem);
  font-size: 2rem;
}
